rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /trainingSessions/{document} {
      allow read: if true;
      allow write: if false;
    }

    match /trainingDocs/{document} {
      allow read: if true;
      allow write: if false;
    }

    match /trainingStaff/{document} {
      allow read: if true;
      allow write: if false;
    }

    match /webmasters/{document} {
      allow read, write: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
